# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Python
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# ChromaDB
storage/vectorstore/

# Cache
storage/cache/

# Build
build/
dist/
storage/database.sqlite

# Generated NVD datasets
storage/datasets/raw/nvdcve-2.0-*.json.gz
storage/datasets/processed/processed_cves.json
.env
storage/database.sqlite.backup
